<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="fill_parent"
    android:layout_height="wrap_content"
    android:padding="5dip"
    >
    <com.google.android.maps.MapView
        android:id="@+id/mapview"
        android:layout_width="wrap_content"
        android:layout_height="250dip"
        android:clickable="true"
        android:apiKey="your android map key here"
    />
</LinearLayout>